extends templates/default




block content
          
      
  div(class="panel panel-default")
    div(class="panel-heading")="Panel Heading"
      div(class="panel-body")="We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results."

      a.btn.btn-success Success
      a.btn.btn-primary( href="link.htm" ) Primary
      a.btn.btn-success Success
 
      a.btn.btn-info Info
      
      a.btn.btn-warning Warning
      
      a.btn.btn-danger Danger