doctype html
html
  head
    title= title
    style= type="text/css"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/bootstrap-3.3.6/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/bootstrap-3.3.6/dist/css/animate.css")

    //link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Pacifico' type='text/css')
    //link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')

    link(rel='stylesheet', href='/semantic/semantic.css')

    script(src='/javascripts/jquery-2.2.3.js')
    script(src='/bootstrap-3.3.6/dist/js/bootstrap.min.js')

    script(src='/semantic/semantic.js')
    script(src='/javascripts/main.js')

  body


    include nav
    block content


  

